<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>bichrome</string>
        <key>LSBackgroundOnly</key>
        <integer>1</integer>
        <key>LSMinimumSystemVersion</key>
        <string>10.10.0</string>
	<key>CFBundleExecutable</key>
	<string>bichrome</string>
	<key>CFBundleIdentifier</key>
	<string>com.bitspatter.bichrome</string>
	<key>CFBundleName</key>
	<string>bichrome</string>
	<key>CFBundleIconFile</key>
	<string>bichrome_icon.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>0.01</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>IFMajorVersion</key>
	<integer>0</integer>
	<key>IFMinorVersion</key>
	<integer>1</integer>
	<key>CFBundleURLTypes</key>
	<array>
	    <dict>
	        <key>CFBundleURLName</key>
	        <string>Web site URL</string>
	        <key>CFBundleURLSchemes</key>
	        <array>
	            <string>http</string>
	            <string>https</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleURLName</key>
	        <string>http URL</string>
	        <key>CFBundleURLSchemes</key>
	        <array>
	            <string>http</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleURLName</key>
	        <string>Secure http URL</string>
	        <key>CFBundleURLSchemes</key>
	        <array>
	            <string>https</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeName</key>
	        <string>HTML document</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>public.html</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeName</key>
	        <string>XHTML document</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>public.xhtml</string>
	        </array>
	    </dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>GIF image</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>com.compuserve.gif</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>HTML document</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>public.html</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>XHTML document</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>public.xhtml</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>JavaScript script</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>com.netscape.javascript-​source</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>JPEG image</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>public.jpeg</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>MHTML document</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>org.ietf.mhtml</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>HTML5 Audio (Ogg)</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>org.xiph.ogg-audio</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>HTML5 Video (Ogg)</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>org.xiph.ogv</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>PNG image</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>public.png</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>SVG document</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>public.svg-image</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>Plain text document</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>public.text</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>HTML5 Video (WebM)</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>org.webmproject.webm</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>WebP image</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>org.webmproject.webp</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>org.chromium.extension</string>
	        </array>
	    </dict>
	    <dict>
	        <key>CFBundleTypeIconFile</key>
	        <string>document.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>PDF Document</string>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	        <key>LSItemContentTypes</key>
	        <array>
	            <string>com.adobe.pdf</string>
	        </array>
	    </dict>
	</array>
</dict>
</plist>
